<body>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-7">
<div class="container">
  <div class="col-md-5">
    <div class="form-area">
      <form role="form" method="post" action={{formUrl}}><br style="clear:both">
        <h3 style="margin-bottom: 25px; text-align: center;">Edit Panel</h3>
        <div class="form-group">
            <img id="imgSrc" style="height: 250px; width: 420px;" src={{image}} alt="">
        </div>
        <div class="form-group">
          <input id="subject" style="display:none;" type="text" name="url" value={{image}} placeholder="Image" class="form-control">
        </div>
        <div class="form-group">
          <textarea id="message" type="textarea" name="descrip" placeholder="Caption" rows="7" class="form-control">{{caption}}</textarea><span class="help-block"></span>
        </div>
        <button id="submit" type="submit" name="submit" class="btn btn-primary pull-right">Done</button>
      </form>
    </div>
  </div>
</div>
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-5">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Image Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="searchQuery" ng-keypress="($event.which === 13)?search():0">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                          </button>
                        </span>
                    </div>
                    <div id="branding" style="float: left;"></div><br />
                    
                    <div id="content" style="max-height:470px; overflow:scroll;"></div>
                </div>

            </div>

        </div>
        <!-- /.row -->

</body>