extends layout

block content
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Social Story Builder
    // Bootstrap Core CSS
    link(href='/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/story-list.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Short+Stack')
  body
    script(type='text/javascript').
      $(document).on("click", ".openDownloadModal", function () {
        var myStudentName = $(this).data('id');
        $(".modal-body #storyToDownload").val( myStudentName );
        $.get( "/api/students", function( data ) {
          console.log(data);
          $(".modal-body #studentCopy").append(function() {
            return $.map(data, function(el, i) {
              return '<option value=' + el._id + '>' + el.name + '</option>';
            });
          });
        });
      });
    .container
      .row
        .col-md-9
          p.lead Global Community Boards
          .row
            each story, i in storylist
              .col-sm-4.col-lg-4.col-md-4
                .thumbnail
                  img(src='#{story.panels[0].url}', alt='', style="height: 150px; width: 320px; overflow:hidden; position:relative;" )
                  .caption(style="text-align:center;")
                    h4
                      a(href='/community/view/' + story._id)= story.title
                    p
                      a.btn.btn-default(href='/community/view/' + story._id) View
                      | &nbsp;
                      | &nbsp;
                      a.btn.btn-default.openDownloadModal(type='button' data-toggle='modal', data-id='#{story._id}', data-target='#downloadModal') Download
    #downloadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='copyModal')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#copyModal.modal-title Download Board and Assign to Student
          .form-area
            form(role='form', method='post', action='/download-story/')
              .modal-body
                .form-group
                  | Assign to student: 
                  select(id='studentCopy' name='studentCopy')
                .form-group(style='display:none')
                  input.form-control(type='text', id='storyToDownload' name='storyToDownload', value ="")
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='submit', name='submit') Copy
    .container
      hr
      // Footer
      footer
        .row
          .col-lg-12
            p
    // /.container
    // jQuery
    script(src='/libs/jquery/dist/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='/libs/bootstrap/dist/js/bootstrap.min.js')